quanlyoto/quanlyoto/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wcfOnDb" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="getInfoResult" nillable="true" type="q3:ArrayOfcar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q4:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInfoCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q5:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q6:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q7:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q8:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="c" nillable="true" type="q9:car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="getSelectResult" nillable="true" type="q10:ArrayOfcar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banDuoc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="banDuocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="banDuocResult" nillable="true" type="q11:ArrayOfcar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conlai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conlaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/wcfOnDb" minOccurs="0" name="conlaiResult" nillable="true" type="q12:ArrayOfcar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>