quanlyoto/quanlyoto/Connected Services/ServiceReference1/wcfOnDb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfOnDb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfOnDb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfcar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="car" nillable="true" type="tns:car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcar" nillable="true" type="tns:ArrayOfcar" />
  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conLai" type="xs:int" />
      <xs:element minOccurs="0" name="daBan" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="original" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="car" nillable="true" type="tns:car" />
</xs:schema>